body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Main container for images and navigation */
.main-container {
  width: 100%;
  max-width: 1200px;
  display: flex; /* Ensure the main container is also flex */
  flex-direction: column;
  align-items: center;
}

/* Gallery and navigation container */
.gallery-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This ensures that the nav links are on the edges */
  width: 100%;
  padding: 0 10px; /* Padding to ensure some space from the container edge */
  flex-wrap: nowrap; /* Prevent wrapping to keep all items on the same row */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1; /* Allow the image container to take up available space */
  overflow-x: auto; /* Adds horizontal scrolling if images exceed the available space */
}

.image-cell {
  min-width: 150px; /* Ensures that image cells have a minimum width */
  height: 170px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column; /* Changed to column to stack img and span */
  align-items: center;
  
  justify-content: center;
  overflow: hidden;
   padding: 5px; 
}

.image-cell img {
  max-width: 100%; /* Ensures images do not exceed their containers */
  max-height: 120px;
  object-fit: cover;
}
.image-cell span {
  font-size: 12px; /* Smaller font size for the title */
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for better legibility */
  margin-top: 5px; /* Space between image and title */
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
}

.nav-link:hover {
  background-color: #0056b3;
}


/* Styles for user navigation links */
.user-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.user-link {
    padding: 12px 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
}

.user-link:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}