<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>User Images</h1>

    <div th:each="image, iterStat : ${images}" th:if="${iterStat.index} &lt; 5">
        <a th:href="@{/GoToImagePage(imageId=${image.Image_Id})}">
            <img th:src="${image.System_Path}" alt="Image Thumbnail" width="150" height="150" />
            <p th:text="${image.Title}"></p>
        </a>
    </div>
	
	<div th:if="${AvailableNext}">
		<a th:href="@{/GoToAlbumPage(Next=true)}">Next</a>
	</div>
	<div th:if="${AvailablePrev}">
		<a th:href="@{/GoToAlbumPage(Prev=true)}">Prev</a>
	</div>
	

</body>
</html>