<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>User Images</h1>

    <div th:each="image, iterStat : ${images}" th:if="${iterStat.index} &lt; 5">
        <a th:href="@{/GoToImagePage(Image_id=${image.Image_id}, albumTitle = ${albumTitle})}">
            <img th:src="${image.System_Path}" alt="Image Thumbnail" width="250" height="250" />
            
        </a>
        <p th:text="${image.Title}"></p>
        <p th:text="${image.System_Path}"> 
    </div>
	
	<div th:if="${AvailableNext}">
		<a th:href="@{/GoToAlbumPage(Next=true, albumTitle = ${AlbumTitle})}">Next</a>
	</div>
	<div th:if="${AvailablePrev}">
		<a th:href="@{/GoToAlbumPage(Prev=true, albumTitle = ${AlbumTitle})}">Prev</a>
	</div>
	<a th:href="@{/GoToHomePage}">Home Page</a>
	<a th:href="@{/Logout}">Logout</a>
	

</body>
</html>