<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Albums</title>
    <link rel="stylesheet" href="css/homepagestyle.css">
</head>
<body>
    <h1>User Albums</h1>
    
    <div>
        <h2>Your Albums</h2>
        <ul>
            <li th:each="album : ${UserAlbum}">
                <a th:href="@{/GoToAlbumPage(albumTitle=${album.Title})}" th:text="${album.Title}"></a>
            </li>
        </ul>
    </div>
    
	    <h2>Others' Albums</h2>
	<div th:each="entry : ${OtherUserAlbum}">
	    <h3 th:text="${entry.key.username} + '\'s Albums'"></h3>
	    <ul>
	        <li th:each="album : ${entry.value}">
	            <a th:href="@{/GoToAlbumPage(albumTitle=${album.Title})}" th:text="${album.Title}"></a>
	        </li>
	    </ul>
	</div>
    
    
    <div>
        <h2>Album Creation form</h2>
        <form th:action="@{/CreateAlbum}" method="post" enctype="multipart/form-data">
            
            <input name="title" type="text" required placeholder="Enter album title">

		    <div th:each="image : ${ImagesUser}" class="checkbox-container" >
		        <input type="checkbox" th:value="${image.image_Id}" id="${'image_' + image.image_Id}" name="selectedImages" class="checkbox-custom"/>
		        <label th:for="${'image_' + image.image_Id}" th:text="${image.title}" class="checkbox-label"></label><br/>
		    </div>


            
            <input type="text" name="image_title" placeholder="Enter image title">
            <input type="text" name="description" placeholder="Enter image description">
            <!-- File input for uploading new image -->
            <input type="file" name="file">
        
            <!-- Submit button for both actions -->
            <input type="submit" name="action" value="CreateAlbum">
        </form>
        <a th:href="@{/Logout}">Logout</a>
    </div>
</body>
</html>
