<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Albums</title>
</head>
<body>
    <h1>User Albums</h1>
    
    <div>
        <h2>Your Albums</h2>
        <ul>
            <li th:each="album : ${UserAlbum}">
                <a th:href="@{/GoToAlbumPage(albumTitle=${album.Title})}" th:text="${album.Title}"></a>
            </li>
        </ul>
    </div>
    
    <h2>Others Albums</h2>
    <div th:each="otherUserAlbumList : ${OtherUserAlbum}">
        <h2 th:text="${otherUserAlbumList.username}'s Albums"></h2>
        <ul>
            <li th:each="album : ${otherUserAlbumList.albums}">
                <a th:href="@{/GoToAlbumPage(albumTitle=${album.Title})}" th:text="${album.Title}"></a>
            </li>
        </ul>
    </div>
    
    <div>
        <h2>Album Creation form</h2>
        <form th:action="@{/CreateAlbum}" method="post" enctype="multipart/form-data">
            
            <input name="title" type="text" required>
            
            <select name="selectedImage">
               <option value="">Select an Image</option>
               <option th:each="image : ${ImagesUser}" th:value="${image.id}" th:text="${image.title}"></option>
            </select>
            
            
            <input type="text" name="image_title">
            <input type="text" name="description">
            <!-- File input for uploading new image -->
            <input type="file" name="file">
        
            <!-- Submit button for both actions -->
            <input type="submit" name="action" value="CreateAlbum">
        </form>
        <a href="@{/Logout}">Logout</a>
    </div>
</body>
</html>
