<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Details</title>
     <link rel="stylesheet" href="css/imagepagestyle.css">
</head>
<body>
    <!-- Display image details if the image object is not null -->
    <div th:if="${image != null}">
        <!-- Displaying the image at its natural size -->
        <img th:src="@{${image.System_Path}}" style="max-width: 100%;" th:alt="${image.Title}" />
        <h2 th:text="${image.Title}">Image Title</h2>
        <p th:text="${image.Description}">Description</p>

        <!-- Comments Section -->
        <div>
            <h3>Comments</h3>
            <div th:each="comment : ${comments}">
                <p th:text="${comment.user_id + ': ' + comment.Text}">Comment</p>
            </div>
        </div>

        <!-- Form to add a new comment -->
        <div>
            <h3>Add a Comment</h3>
            <form th:action="@{/AddComment}" method="post">
                <input type="hidden" name="imageId" th:value="${image.Image_id}" />
                <input type="hidden" name="albumTitle" th:value="${albumTitle}" />
                <textarea name="comment" required placeholder="Write your comment here..."></textarea>
                <button type="submit">Submit Comment</button>
            </form>
        </div>

        <!-- Remove image form, only visible to the image owner -->
        <div th:if="${session.user.Id == userCreator}">
            <form th:action="@{/AddComment}" method="get">
            	<input type="hidden" name="imageId" th:value="${image.Image_id}" />
                <input type="hidden" name="albumTitle" th:value="${albumTitle}" />
                <button type="submit">Remove Image and Comments</button>
            </form>
        </div>

        <!-- Navigation links -->
        <a th:href="@{/GoToAlbumPage(albumTitle=${albumTitle}, albumCreator=${albumCreator})}">Back to Album Page</a>
        <a th:href="@{/GoToHomePage}">Home Page</a>
        <a th:href="@{/Logout}">Logout</a>

    </div>

    <!-- Display a message if no image is available -->
    <div th:if="${image == null}">
        <p>No image details available.</p>
    </div>
</body>
</html>

